<div class="page-header">
  <h3>Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Product</dt>
      <dd><%= @item.product %></dd>

      <dt>Product category</dt>
      <dd><%= @item.category.category_name %></dd>

      <dt>Origin</dt>
      <dd><%= @item.origin %></dd>

      <dt>Format</dt>
      <dd><%= @item.format %></dd>

      <dt>Price</dt>
      <dd><%= @item.price %></dd>

      <dt>Quantity</dt>
      <dd><%= @item.quantity %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @item.image %>"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
